<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>fr.vhat.keydyn.server.RegistrationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/keydyn/registration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>authenticationServlet</servlet-name>
    <servlet-class>fr.vhat.keydyn.server.AuthenticationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>authenticationServlet</servlet-name>
    <url-pattern>/keydyn/authentication</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>transmissionServlet</servlet-name>
    <servlet-class>fr.vhat.keydyn.server.DataTransmissionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>transmissionServlet</servlet-name>
    <url-pattern>/keydyn/transmission</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>computationServlet</servlet-name>
    <servlet-class>fr.vhat.keydyn.server.ComputationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>computationServlet</servlet-name>
    <url-pattern>/keydyn/computation</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

  <!-- Objectify -->
  <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>